<footer class="footer py-5 border-top">
    <div class="container">
        <p class="m-0 text-white text-center ">Социальная сеть <span class="logo_red">Ya</span>tube © {{ year }}, все права защищены.</p>
        <p class="m-0 mt-2 text-white text-center ">
            <a href="{% url 'about:author' %}" class="text-white text-decoration-none mx-2">Об авторе</a>
            <a href="{% url 'about:tech' %}" class="text-white text-decoration-none mx-2">О проекте</a>
        </p>
    </div>
</footer>
