{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
    {% if form.initial %}Редактировать запись{% else %}Добавить запись{% endif %}
{% endblock %}
{% block header %}
    {% if form.initial %}Редактировать запись{% else %}Добавить запись{% endif %}
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
      <div class="form-group row">
          <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}</label>
          <div class="col-md-6 my-1">
              {{ field|addclass:'form-control' }}
          </div>
      </div>
  {% endfor %}
  <input type="submit" value="{% if form.initial %}Сохранить{% else %}Добавить{% endif %}">
</form>
{% endblock %}